@use 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-main);
  color: var(--text-main);
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  overflow-x: hidden;
  
  // Full-page background
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; // Фон не скролиться разом з контентом
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  font-family: inherit; /* Щоб елементи форми не скидали шрифт на дефолтний */
}